
.header{
    background-color: blueviolet;
    height: 10em;
}
.blog{
    background-color: aquamarine;
    height: 15em;
    width: 50%;
    float: left;
    
}
.contact{
    background-color: rgb(226, 186, 24);
    height: 15em;
    width: 50%;
    float: right;
}
.wrapper{
  
    overflow: hidden;
}



.footer{
    background-color: rgb(113, 241, 113);
    height: 10em;
}

.item{
    width: 33%;
    height: 10em;
    float: left;
}
.blog1{
    background-color: aqua;
    
}
.blog2{
    background-color: rgb(184, 20, 132);
}
.blog3{
    background-color: rgb(219, 122, 43);
}
.items{
    width:25%;
    height: 10em;
    float: left;
}
.blog4{
    background-color: rgb(0, 0, 0);
}
.blog5{
    background-color: rgb(211, 177, 201);
}
.blog6{
    background-color: rgb(134, 25, 228);
}
.blog7{
    background-color: rgb(64, 16, 221);
}







